### 연습문제와 추가 문법으로 정리하는 pandas

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">1. 00_data/olist_customers_dataset.csv 파일 pandas dataframe 으로 읽어오기 (데이터프레임 변수 이름은 doc 로 하기로 함)</font><br>
</div>

In [4]:
import pandas as pd
doc = pd.read_csv('00_data/olist_customers_dataset.csv', encoding='utf-8-sig')

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">2. 처음 5개 열 확인하기</font><br>
</div>

In [5]:
doc.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">3. 전체 record 수(행 수) 확인하기</font><br>
</div>

In [6]:
doc.shape

(99441, 5)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">4. 전체 열의 수 확인하기</font><br>
</div>

In [7]:
doc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">5. 열의 이름 리스트로 가져오기</font><br>
</div>

In [8]:
doc.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">6. 인덱스 확인하기</font><br>
</div>

In [9]:
doc.index

RangeIndex(start=0, stop=99441, step=1)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">7. 다섯 숫자 요약(5 number summary) 확인하기 </font><br>
</div>

In [10]:
doc.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

### 추가 문법 pandas.DataFrame.copy
- 데이터프레임 중 일부를 선택 후, 조작하면 해당 데이터프레임도 변경
- copy() 를 통해, 복사본을 만들어서 조작하여, 원본 데이터프레임은 보존 가능

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">8. customer_zip_code_prefix, customer_city, customer_state 컬럼만 가져오기 (데이터프레임 변수 이름은 doc2로 하기로 함)</font><br>
</div>

In [13]:
doc2 = doc[['customer_zip_code_prefix', 'customer_city', 'customer_state']].copy()
doc2

       customer_zip_code_prefix          customer_city customer_state
0                         14409                 franca             SP
1                          9790  sao bernardo do campo             SP
2                          1151              sao paulo             SP
3                          8775        mogi das cruzes             SP
4                         13056               campinas             SP
...                         ...                    ...            ...
99436                      3937              sao paulo             SP
99437                      6764        taboao da serra             SP
99438                     60115              fortaleza             CE
99439                     92120                 canoas             RS
99440                      6703                  cotia             SP

[99441 rows x 3 columns]

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">9. customer_city 가 sao paulo 인 레코드(행)만 가져오기 (데이터프레임 변수 이름은 doc3 으로 하기로 함)</font><br>
    - 레코드(행) 수 확인도 해보기
</div>

In [19]:
doc3 = doc2[doc2['customer_city'] == 'sao paulo']
doc3.shape

(15540, 3)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">10. customer_city 기준으로 행의 갯수를 확인해보세요 </font><br>
    - doc2에 value_counts() 를 써보세요 (value_counts() 는 Series 에만 적용 가능합니다.) <br>    
</div>

In [20]:
doc2['customer_city'].value_counts()

sao paulo                  15540
rio de janeiro              6882
belo horizonte              2773
brasilia                    2131
curitiba                    1521
                           ...
pirpirituba                    1
alto alegre do maranhao        1
macaubal                       1
marilena                       1
santa cruz do timbo            1
Name: customer_city, Length: 4119, dtype: int64

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">11. doc 데이터프레임에서 customer_city 기준으로 행의 갯수를 확인해보세요 </font><br>
    1. groupby 를 써서 customer_city 를 기준으로 행의 갯수를 count 하세요 (새로운 데이터프레임 변수 이름은 doc4로 하기로 함)<br>
    2. doc4를 통해 customer_city 수도 확인해보세요 (데이터프레임 레코드(행) 수를 확인해보면 됩니다.)<br>
</div>

In [32]:
doc4 = doc.groupby('customer_city').count()
doc4

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_state
customer_city,,,,
abadia dos dourados,3,3,3,3
abadiania,1,1,1,1
abaete,12,12,12,12
abaetetuba,11,11,11,11
abaiara,2,2,2,2
...,...,...,...,...
xinguara,9,9,9,9
xique-xique,3,3,3,3
zacarias,2,2,2,2
ze doca,5,5,5,5
zortea,2,2,2,2

In [33]:
len(doc4.index)

4119

### 추가 문법 이해 (정렬, sort_values(), sort_index())
1. groupby(기준컬럼) 계산시, 기준컬럼은 인덱스로 설정이 되고, 해당 컬럼값을 기반으로 자동 정렬됨
2. 데이터프레임.sort_values(by=컬럼명, ascending=False) 
   - ascending=True: 오름차순 (디폴트)
   - ascending=False: 내림차순
3. 시리즈.sort_values(ascending=True)
4. 데이터프레임/시리즈.sort_index(ascending=True): 인덱스 기준 정렬

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">12. doc4에서 가장 레코드(행)의 수가 많은 customer_city 를 확인해보세요</font><br>
    1. doc4의 customer_id 를 기준으로 정렬하고, 가장 상단의 한 행만 출력하기<br>
</div>

In [42]:
doc4.sort_values(by='customer_id', ascending=False).head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_state
customer_city,,,,
sao paulo,15540,15540,15540,15540

In [44]:
doc4['customer_id'].sort_values(ascending=False).head(1)

customer_city
sao paulo    15540
Name: customer_id, dtype: int64

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">13. doc 에서 customer_city 를 인덱스로 만들고, 알파벳 순으로 인덱스를 정렬해보세요</font><br>
</div>

In [46]:
doc.set_index('customer_city').sort_index()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_state
customer_city,,,,
abadia dos dourados,a23e3f9a2b656b23b7e52075964b42cd,afddf43a03a9941624ed42c0b2c17280,38540,MG
abadia dos dourados,9e01f714a2b3b8962c222cf2b74c20dc,e1feae9083c4c2895ddf6dc80526a85d,38540,MG
abadia dos dourados,f11eb8f0b8b87510a93e3e1aa10b0ade,64ee476500a01beb94df40f97a108c50,38540,MG
abadiania,576d71ddb21b21763cfedce73b902180,8d76b559181609308fcae630ea64cd61,72940,GO
abaete,5e9e1ae42e02df93e9a591e86fd531a3,28af9604f7830ef6d1230fb575c39eb1,35620,MG
...,...,...,...,...
ze doca,1052e334b46dd1e9876946d6372a363e,c933181d09535cb6bdfb1c0160323bd9,65365,MA
ze doca,d8b3ef6f73de33ae716e94d2478cc080,9ef06526b8e57a567ed6f1dce7ab0320,65365,MA
ze doca,fc87e5c06780700952aa42998a22968f,d4798889fe74026a739ca0be9d2dccb8,65365,MA
zortea,0a466d490a3c2fcc1e7177f4809ec7dd,d5a5ceb83234eeb855268d7fce7f54ea,89633,SC
zortea,e046f992a304cc92e1b00d7fccdf1c42,09a3f87b74828b274d73ee9dfef43b68,89633,SC

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">14.  doc2에서 customer_state 기준으로 행의 갯수를 확인해보세요</font><br>
   - doc2에 value_counts() 를 써보세요 (value_counts() 는 Series 에만 적용 가능합니다.) <br>    
</div>

In [49]:
doc2['customer_state'].value_counts()

SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: customer_state, dtype: int64

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">15. doc2에서 customer_state 갯수를 확인해보세요</font><br>
</div>

In [50]:
len(doc2['customer_state'].value_counts().index)

27

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">16. doc4에서 customer_city 갯수가 1000개 이상인 customer_city 갯수만 확인해보세요</font><br>
</div>

In [54]:
import pandas as pd

doc = pd.read_csv('00_data/olist_customers_dataset.csv', encoding='utf-8-sig')
doc4 = doc.groupby('customer_city').count()

doc4[doc4['customer_id'] >= 1000]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_state
customer_city,,,,
belo horizonte,2773,2773,2773,2773
brasilia,2131,2131,2131,2131
campinas,1444,1444,1444,1444
curitiba,1521,1521,1521,1521
guarulhos,1189,1189,1189,1189
porto alegre,1379,1379,1379,1379
rio de janeiro,6882,6882,6882,6882
salvador,1245,1245,1245,1245
sao paulo,15540,15540,15540,15540

In [55]:
doc4[doc4['customer_id'] >= 1000].shape

(9, 4)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">17. doc4에서 customer_city 갯수가 1000개 이상인 customer_city 이름을 확인해보세요</font><br>
</div>

In [56]:
doc4[doc4['customer_id'] >= 1000].index

Index(['belo horizonte', 'brasilia', 'campinas', 'curitiba', 'guarulhos',
       'porto alegre', 'rio de janeiro', 'salvador', 'sao paulo'],
      dtype='object', name='customer_city')

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">18. doc에서 결측치가 각 컬럼에 있는지 확인해보세요</font><br>
</div>

In [57]:
doc.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

### 추가 문법 이해 (to_list())
1. 시리즈.to_list()
   - 컬럼값을 리스트 타입으로 리턴

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">19. doc에서 중복된 customer_city 를 가진 행을 삭제한 후, customer_city 이름만 가져와보세요</font><br>
</div>

In [60]:
doc.drop_duplicates(subset='customer_city', keep='last')['customer_city'].to_list()

['vargem grande',
 'agua fria de goias',
 'taperuaba',
 'cajueiro',
 'canapi',
 'itanhem',
 'sao jose da coroa grande',
 'sao jorge do ivai',
 'nova laranjeiras',
 'ivora',
 'anaurilandia',
 'pedro velho',
 'glaura',
 'sao miguel do aleixo',
 'santo antonio do caiua',
 'fernao',
 'sao jose da tapera',
 'cordeiros',
 'ananas',
 'godoy moreira',
 'japi',
 'barauna',
 'sandolandia',
 'inga',
 'muritiba',
 'desembargador otoni',
 'ipiranga do norte',
 'felipe guerra',
 'rio formoso',
 'igaratinga',
 'cedro',
 'sao joao da urtiga',
 'bom jesus do querendo',
 'formosa da serra negra',
 'rainha do mar',
 'banabuiu',
 'chorrocho',
 'cipo-guacu',
 'itabaianinha',
 'ibirapua',
 'francisco santos',
 'guimaraes',
 'tapera',
 'rio doce',
 'tocos do moji',
 'humberto de campos',
 'riversul',
 'lindolfo collor',
 'santana do sobrado',
 'central',
 'nova independencia',
 'sacra familia do tingua',
 'unistalda',
 'sobralia',
 'divinopolis de goias',
 'sao joao de petropolis',
 'independencia',
 'lagoa de velhos',
 'dores de guanhaes',
 'ponto belo',
 'portela',
 'santo antonio do leverger',
 'serranopolis de minas',
 'sao pedro da agua branca',
 'santo expedito do sul',
 'parana',
 'tupassi',
 'saubara',
 'duere',
 'anage',
 'apore',
 'cajapio',
 'mansidao',
 'miranda do norte',
 'nova araca',
 'senador jose porfirio',
 'vista alegre',
 'itutinga',
 'boa vista do sul',
 'paula candido',
 'igapora',
 'itaguacu da bahia',
 'lindoia do sul',
 'uruana de minas',
 'gramado xavier',
 'quilometro 14 do mutum',
 'sao francisco do humaita',
 'alto alegre do maranhao',
 'murici',
 'arapoema',
 'cuite velho',
 'pranchita',
 'bom jesus da penha',
 'mossamedes',
 'angelo frechiani',
 'itagiba',
 'sao cristovao do sul',
 'tuiuti',
 'presidente castello branco',
 'olaria',
 'santa terezinha',
 'bonito de santa fe',
 'valao do barro',
 'senador cortes',
 'vermelho',
 'brejo dos santos',
 'caridade',
 'ibema',
 'cerejeiras',
 "diamante d'oeste",
 'paraiso das aguas',
 'mirante da serra',
 'simplicio mendes',
 'itapage',
 'aquidaba',
 'cantanhede',
 'bom jesus do araguaia',
 'pancas',
 'campinacu',
 'ibipeba',
 'angicos',
 'mercedes',
 'sao jose do xingu',
 'jaguaracu',
 'mimoso de goias',
 'sardoa',
 'varzedo',
 'sinimbu',
 'girau do ponciano',
 'umburatiba',
 'almino afonso',
 'jaboticatubas',
 'itacoatiara',
 'novo cabrais',
 'abdon batista',
 'sao joao da ponte',
 'desterro',
 'ulianopolis',
 'santa salete',
 'macuco de minas',
 'terezinha',
 'sao jose dos cordeiros',
 'cabaceiras do paraguacu',
 'janduis',
 'sao sebastiao de campos',
 'adustina',
 'santa quiteria do maranhao',
 'constantina',
 'pratapolis',
 'monte castelo',
 'peri mirim',
 'santana do ipanema',
 'vargem grande do rio pardo',
 'sao joaquim do monte',
 'bom jesus do sul',
 'fenix',
 'turvelandia',
 'aguas mornas',
 'jaguaribara',
 'formosa do oeste',
 'araguacu',
 'xexeu',
 'buriti',
 'santa cruz do timbo',
 'araguaia',
 'parisi',
 'pureza',
 'rosario',
 'almirante tamandare do sul',
 'mutunopolis',
 'santa filomena',
 'amargosa',
 'sao jorge',
 'conrado',
 'cotipora',
 'brejetuba',
 'morro redondo',
 'indiaroba',
 'paulino neves',
 'calcado',
 'jurema',
 'jamapara',
 'jamaica',
 'riacho da cruz',
 'sao domingos do araguaia',
 'aragoiania',
 'braco do rio',
 'ourizona',
 'sao goncalo do rio preto',
 'croata',
 'conceicao do caninde',
 'nossa senhora das dores',
 'domiciano ribeiro',
 'luis correia',
 'sao jorge do oeste',
 'bela vista de minas',
 'general camara',
 'sao bento abade',
 'coronel pacheco',
 'jose boiteux',
 'farol',
 'nova roma do sul',
 'biritinga',
 'cocais',
 'brejo grande',
 'nazare da mata',
 'presidente kennedy',
 'marinopolis',
 'hidrolina',
 'minduri',
 'aroeiras',
 'presidente janio quadros',
 'neopolis',
 'severiano melo',
 'sitio do quinto',
 'sao geraldo da piedade',
 'bemposta',
 'carinhanha',
 'capela nova',
 'tiradentes do sul',
 'fortaleza dos valos',
 'moncoes',
 'nova lacerda',
 'piripa',
 'arenopolis',
 'mariano moro',
 'riacho de santo antonio',
 'bom jesus do amparo',
 'sao mamede',
 'juvenilia',
 'castelo do piaui',
 'mairipotaba',
 'gilbues',
 'santa luzia do parua',
 'crisolita',
 'brejoes',
 'ribeirao cascalheira',
 'itaicaba',
 'arraias',
 'ibiracatu',
 'vanini',
 'candeias do jamari',
 'mae do rio',
 'uniao do sul',
 'polo petroquimico de triunfo',
 'sao pedro do iguacu',
 'capitao',
 'governador eugenio barros',
 'bataipora',
 'celina',
 'novo jardim',
 'ibertioga',
 'nova guataporanga',
 'centralina',
 'panelas',
 'suzanapolis',
 'monteiropolis',
 'taquarana',
 'capela de santana',
 'castanheiras',
 'itinga',
 'chiapetta',
 'canhotinho',
 'alfredo marcondes',
 'campestre do maranhao',
 'santo antonio do aracangua',
 "rancho alegre d'oeste",
 'santa rita do itueto',
 'aguas frias',
 'nova vicosa',
 'sao carlos do ivai',
 'tracuateua',
 'serio',
 'ewbank da camara',
 'cachoeira da prata',
 'capitao andrade',
 'candido mendes',
 'frei rogerio',
 'arroio trinta',
 'botupora',
 'boquim',
 'pedra do indaia',
 'porto estrela',
 'serra do salitre',
 'galvao',
 'colonia leopoldina',
 'moema',
 'serra dos dourados',
 'bertolinia',
 'lagoa da canoa',
 'inhuma',
 'agudo',
 'angelina',
 'palmeirinha',
 'remigio',
 'getulina',
 'costa marques',
 'paripueira',
 'sulina',
 'porto acre',
 'cerro grande',
 'ressaquinha',
 'jose da penha',
 'machados',
 'aparecida do rio negro',
 'emilianopolis',
 'frei gaspar',
 'santa luzia do norte',
 'tres forquilhas',
 'wagner',
 'turvolandia',
 'ouro verde de minas',
 'aurilandia',
 'frutuoso gomes',
 'pedro gomes',
 "santa clara d'oeste",
 "aparecida d'oeste",
 'angical do piaui',
 'barra dos coqueiros',
 'itapiuna',
 'santa helena de minas',
 'alpercata',
 'mata roma',
 'jussiape',
 'rincao',
 'cubati',
 'glorinha',
 'santa maria do para',
 'jenipapo de minas',
 'taiuva',
 'alto bela vista',
 'mampituba',
 'nacip raydan',
 'sao mateus de minas',
 'joselandia',
 'senador guiomard',
 'capao da porteira',
 'iramaia',
 'santo antonio dos campos',
 'combinado',
 'lagoa dos tres cantos',
 'sao bernardino',
 'piacatu',
 'desterro do melo',
 'tomar do geru',
 'santa margarida',
 'alfredo wagner',
 'felixlandia',
 'patrocinio do muriae',
 'muliterno',
 'manaira',
 'sao jose do goiabal',
 'dois riachos',
 'alagoa',
 'corrego danta',
 'grupiara',
 'macuco',
 'pareci novo',
 'lajinha',
 'guaraquecaba',
 'japaratuba',
 'itapirapua',
 'sao felix do coribe',
 'mato rico',
 'simao pereira',
 'queixada',
 'governador dix-sept rosado',
 'ocara',
 'queluz',
 'nantes',
 'machacalis',
 'ibiara',
 'barao de juparana',
 'crissiumal',
 'silveira carvalho',
 'chorozinho',
 'populina',
 'nova timboteua',
 'santo antonio do taua',
 'iaras',
 'sarutaia',
 'conceicao do para',
 'salto da divisa',
 'matoes',
 'saboeiro',
 'lamim',
 'jequitai',
 'telha',
 'mojui dos campos',
 'princesa isabel',
 'lidice',
 'durande',
 'upanema',
 'coimbra',
 'altaneira',
 'guiricema',
 'taparuba',
 'alagoa grande',
 'iguai',
 'boa vista das missoes',
 'bom jesus da serra',
 'passagem',
 "itaporanga d'ajuda",
 'armazem',
 'cristinapolis',
 'satiro dias',
 'abatia',
 'goncalves dias',
 'arapei',
 'rio dos cedros',
 'conceicao do almeida',
 'barao do triunfo',
 'saudades',
 'sao goncalo do rio das pedras',
 'vargem',
 'florinia',
 'boa vista do cadeado',
 'dormentes',
 'nova america da colina',
 'fagundes',
 'lagoinha do piaui',
 'vertentes',
 'sao bentinho',
 'andrequice',
 'doutor mauricio cardoso',
 'coxilha',
 'deodapolis',
 'cruzeiro do iguacu',
 'pocao de pedras',
 'passagem franca',
 'maribondo',
 'corumbatai do sul',
 'purilandia',
 'oeiras do para',
 'sao lourenco do piaui',
 'mariopolis',
 'vitorino',
 'junqueiro',
 'bonito de minas',
 'sao jose da boa vista',
 'pouso redondo',
 'uruoca',
 'ibipitanga',
 'ipiranga de goias',
 'areial',
 'morro vermelho',
 'solanea',
 'santa rita da floresta',
 'morro do ferro',
 'novo repartimento',
 'macau',
 'santo amaro das brotas',
 'santo antonio do rio abaixo',
 'mondai',
 'saudade do iguacu',
 'santo antonio do itambe',
 'dario meira',
 'santa fe de minas',
 'brejolandia',
 'buenos aires',
 'canto do buriti',
 'pianco',
 'osvaldo kroeff',
 'estrela do sul',
 'nova canaa do norte',
 'maria da fe',
 'clevelandia',
 'buique',
 'pequizeiro',
 'matelandia',
 'morro de sao paulo',
 'campo azul',
 'terra nova do norte',
 'lago verde',
 'jussari',
 'cristal',
 'caririacu',
 'agua doce',
 'chacara',
 'cambara do sul',
 'euclides da cunha paulista',
 'natercia',
 'sao benedito do sul',
 'arembepe',
 'passa tempo',
 'gentio do ouro',
 'conceicao da ibitipoca',
 'cotriguacu',
 'condeuba',
 'antonina do norte',
 'bugre',
 'baixa grande do ribeiro',
 'novo machado',
 'doutor camargo',
 'trombudo central',
 'itaueira',
 'sao joao do sul',
 'maiquinique',
 'porto franco',
 'brazabrantes',
 'varzea',
 'nova canaa',
 'angelica',
 'sao joao do sobrado',
 'brasilandia de minas',
 'governador lindenberg',
 'guaiuba',
 'sao sebastiao do rio verde',
 'aramina',
 'itupiranga',
 'pocoes de paineiras',
 'pedregulho',
 'protasio alves',
 'rubineia',
 'wanderley',
 'leopoldo de bulhoes',
 'pacoti',
 'sao vitor',
 'lucianopolis',
 'sao jose do inhacora',
 'faxinalzinho',
 'ravena',
 'uniao',
 'dionisio',
 'orobo',
 'sao domingos do sul',
 'tobias barreto',
 'sao felix de minas',
 'arrozal',
 'curralinho',
 'paulistania',
 'lagoa do piaui',
 'campo do brito',
 'lagoao',
 'paial',
 'cajuri',
 'joaima',
 'vieiras',
 'mocajuba',
 'governador mangabeira',
 'sao sebastiao da serra',
 'alvorada do gurgueia',
 'mussurepe',
 'traipu',
 'breves',
 'araguapaz',
 'sao miguel das matas',
 'cambiasca',
 'comercinho',
 'santa maria do salto',
 'pardinho',
 'caldas do jorro',
 'nova guarita',
 'itamogi',
 'jacuizinho',
 'muquem do sao francisco',
 'potengi',
 'mamonas',
 'aguas claras',
 'conquista',
 'nossa senhora de lourdes',
 'divino das laranjeiras',
 'curvelandia',
 'teofilandia',
 'sao jose do turvo',
 'andarai',
 'bequimao',
 'apodi',
 'uniao da serra',
 'lagoa de sao francisco',
 'beberibe',
 'galia',
 'cedro de sao joao',
 'machadinho',
 "mae d'agua",
 'bela vista',
 'sao vendelino',
 'inocencia',
 'putinga',
 'botuvera',
 'porto esperidiao',
 'nova boa vista',
 'senhora dos remedios',
 'vila bela da santissima trindade',
 'santa rita de jacutinga',
 'reserva do iguacu',
 'brejo da madre de deus',
 'santa cruz do prata',
 'dona euzebia',
 'pedras altas',
 'limeira do oeste',
 'mato verde',
 'anastacio',
 'coronel sapucaia',
 'engenheiro navarro',
 'novo oriente de minas',
 'matupa',
 'antunes',
 'fontoura xavier',
 'laje do muriae',
 'capoeiras',
 'jaupaci',
 'cachoeira do campo',
 'sapeacu',
 'isaias coelho',
 'santo antonio do palma',
 'flores de goias',
 'sao pedro do turvo',
 'buriti do tocantins',
 "bandeirantes d'oeste",
 'ibitita',
 'anta gorda',
 'aratiba',
 'ibiraiaras',
 'sucupira do norte',
 'ciriaco',
 'jardim de piranhas',
 'sao jose do piaui',
 'imbau',
 'santo antonio das queimadas',
 'inimutaba',
 'sao joao do itaperiu',
 'cha de alegria',
 'palmeira d oeste',
 'goianorte',
 'coelho neto',
 'presidente bernardes',
 'carnaubais',
 'pinhal da serra',
 'agua limpa',
 'sao paulo do potengi',
 'estevao de araujo',
 'ribeirao do sul',
 'campinapolis',
 'colniza',
 'andre da rocha',
 'lencois',
 'sabaudia',
 'conservatoria',
 'abadiania',
 'candido godoi',
 'arara',
 'luziapolis',
 'agronomica',
 'vila nova',
 'jiquirica',
 'acucena',
 'pato bragado',
 'jerico',
 'granja',
 'coronel domingos soares',
 'padre paraiso',
 'rio dos indios',
 'sao bras do suacui',
 'irape',
 'florai',
 'ipecaeta',
 'piratini',
 'nova itaberaba',
 'praia norte',
 'itabirinha',
 'caravelas',
 'progresso',
 'serra de sao bento',
 'augusto pestana',
 'perobal',
 'lavinia',
 'japaraiba',
 'pirapo',
 'vitoria do jari',
 'porto rico',
 'nova padua',
 'barra do tarrachil',
 'aribice',
 'doce grande',
 'tapurah',
 'pedrao',
 'frei martinho',
 'campina da lagoa',
 'nova campina',
 'campo do tenente',
 'sao joao da parauna',
 'baianopolis',
 'paudalho',
 'rio fortuna',
 'formosa do rio preto',
 'carambei',
 'piacu',
 'sao pedro do ivai',
 'miravania',
 'caetes',
 'erico cardoso',
 'inconfidentes',
 'macaubal',
 'paranapua',
 'imigrante',
 'paraiso do sul',
 'sertao',
 'brotas de macaubas',
 'macambira',
 'mandirituba',
 'planaltina do parana',
 'piracuruca',
 'contenda',
 'tomazina',
 'boca da mata',
 'vitoria das missoes',
 'salto do ceu',
 'lagoa real',
 'fragosos',
 'madalena',
 'rio das antas',
 'missi',
 'murucupi',
 'romelandia',
 'moreilandia',
 'cajari',
 'sao jose de mipibu',
 'sao joao do ivai',
 'novo lino',
 'barra do jacare',
 'lagoa do mato',
 'virgem da lapa',
 'novo planalto',
 'guia lopes da laguna',
 'paineiras',
 'sao joao do sabugi',
 'quatituba',
 'monte santo',
 'alhandra',
 'arenapolis',
 'riacho das almas',
 'epitaciolandia',
 'pedranopolis',
 'campo alegre de minas',
 'grandes rios',
 'itabi',
 'mira estrela',
 'governador celso ramos',
 'areal',
 'luiziania',
 'coronel murta',
 'juranda',
 'cristina',
 'engenheiro balduino',
 'ilha comprida',
 'pontes gestal',
 'rubelita',
 'moncao',
 'ibiaca',
 'agisse',
 'vere',
 'cocos',
 'marilandia do sul',
 'chale',
 'ajuricaba',
 'sao sebastiao da boa vista',
 'jupi',
 'poloni',
 'jequitiba',
 'bossoroca',
 'rodeio bonito',
 'alexandrita',
 'heliopolis',
 'apuiares',
 'nova mutum',
 'tibau do sul',
 'sao thome das letras',
 'ibiapina',
 'santo antonio de goias',
 'riachinho',
 'brasilandia',
 'santana da vargem',
 'santana do itarare',
 'ipuiuna',
 "alvorada d'oeste",
 'jacarau',
 'bom jesus do galho',
 'estrela d oeste',
 'barra de sao miguel',
 'perola independente',
 'tecainda',
 'carmo de minas',
 'manfrinopolis',
 'xique-xique',
 'ouro verde do oeste',
 'rio grande do piaui',
 'oleo',
 'santa ernestina',
 'saloa',
 'porto de pedras',
 'santa clara do sul',
 'caracol',
 'central de santa helena',
 'campestre da serra',
 'prudente de morais',
 'itaja',
 'tucuma',
 'morpara',
 'araguatins',
 'ibateguara',
 'rolim de moura',
 'vila flores',
 'conceicao da feira',
 'iomere',
 'tuparece',
 'santa leopoldina',
 'muniz freire',
 'ribeirao branco',
 'igarape-acu',
 'tupandi',
 'novais',
 'aparecida de monte alto',
 'sao geraldo do baguari',
 'salinas da margarida',
 'marilena',
 'afranio',
 'espigao',
 'nossa senhora da gloria',
 'antonio goncalves',
 'marechal deodoro',
 'santo antonio das missoes',
 'botelho',
 'novo mundo',
 'campo grande do piaui',
 'perola',
 'pindai',
 'inhapi',
 'tamandare',
 'porto dos gauchos',
 'oiapoque',
 'santa mercedes',
 'tres arroios',
 'campanario',
 'vila nova do sul',
 'planaltino',
 'macaiba',
 'ibirataia',
 'montalvania',
 'sao fernando',
 'salvador do sul',
 'cocalzinho de goias',
 'anhumas',
 'padre gonzales',
 'novo oriente',
 'vila nelita',
 'engenheiro beltrao',
 'iretama',
 'zacarias',
 'joaquim tavora',
 'taboquinhas',
 'macambara',
 'mucuge',
 'medeiros',
 'parelhas',
 'agua comprida',
 'conceicao',
 'buriti alegre',
 'cacaulandia',
 'pium',
 'sao joao batista do gloria',
 'ministro andreazza',
 'caseiros',
 'urucuca',
 'porto grande',
 'caicara do norte',
 'ceilandia',
 'vicosa do ceara',
 'pirambu',
 'pontalina',
 'nova alvorada do sul',
 'barreira',
 'paulo jacinto',
 'joaquim pires',
 'azurita',
 'cambira',
 'capao do cipo',
 'doutor ulysses',
 'cachoeira',
 'placas',
 'zortea',
 "pingo-d'agua",
 'barra do rio azul',
 'satuba',
 'tuparetama',
 'pontalinda',
 'pavao',
 'reginopolis',
 'caldeirao grande do piaui',
 'entre folhas',
 'lagoinha',
 'bataguassu',
 'ibirarema',
 'angical',
 'apiacas',
 'nova floresta',
 'guimarania',
 'foz do jordao',
 'damianopolis',
 'lagoa salgada',
 'dumont',
 'agua doce do norte',
 'paulo lopes',
 'santa rita do ibitipoca',
 'vila dos cabanos',
 'bora',
 'palmopolis',
 'oriente',
 'cruzeiro do sul',
 'palhano',
 'nuporanga',
 'jaguaquara',
 'mucuri',
 'campo bonito',
 'piedade dos gerais',
 'cravolandia',
 'engenheiro passos',
 'maracana',
 'cabeceira grande',
 'selbach',
 'rifaina',
 'amarante',
 'belem do sao francisco',
 'humildes',
 'apuarema',
 'alto alegre do pindare',
 'puxinana',
 'ibitioca',
 'cristais paulista',
 'avai',
 'patu',
 'irai',
 'sitio novo do tocantins',
 'segredo',
 "arraial d'ajuda",
 'ibicare',
 'jucas',
 'gandu',
 'caraubas',
 'santa monica',
 'sao sebastiao do maranhao',
 'valentim gentil',
 'pilao arcado',
 'monsenhor paulo',
 'surubim',
 'bernardino de campos',
 'carmopolis',
 'porto lucena',
 'meruoca',
 'alto paraiso',
 'quixere',
 'corumbaiba',
 'abrantes',
 'colorado do oeste',
 'campo florido',
 'alto sao joao',
 "herval d'oeste",
 'nova brescia',
 'ponto dos volantes',
 'mendes pimentel',
 'jaraguari',
 'livramento de nossa senhora',
 'chaval',
 'marilac',
 'itaipava',
 'ivate',
 'bom jesus do tocantins',
 'santana do araguaia',
 'inhambupe',
 'aracariguama',
 'monte belo do sul',
 'coronel martins',
 'ribas do rio pardo',
 'gaucha do norte',
 'aracatu',
 'motuca',
 'guape',
 'cedro do abaete',
 'charrua',
 'florida',
 'bodoquena',
 'sao joao do oriente',
 'santa barbara do sul',
 'santa rosa de lima',
 'fatima do sul',
 'lindoeste',
 'nova monte verde',
 'icarai de minas',
 'boquira',
 'jacinto',
 'guarani das missoes',
 "figueiropolis d'oeste",
 'claudia',
 'aratuba',
 'bom retiro do sul',
 'condado',
 'bananeiras',
 'alto horizonte',
 'taciba',
 'herval',
 ...]

### 추가 문법 이해 (pivot_table)

- pivot_table(데이터프레임, values=None, index=None, aggfunc='mean', fill_value=None, margins=False, margins_name='All')
  - values: 분석할 열 이름 리스트
  - index: 인덱스로 들어갈 키 열
  - aggfunc: 계산 방법, 간단히 {분석할열이름:계산방법} 으로 사전 형식으로 작성
    - 주요 계산 방법: sum(합), mean(평균), median(중앙값), std(표준편차)
  - fill_value: 결측치 대체 값
  - margins: 모든 데이터의 총 분석 결과를 추가함 (예, 총 합)
  - margins_name: 모든 데이터의 총 분석 결과의 이름

In [69]:
import pandas as pd

doc_covid = pd.read_csv('COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/04-01-2020.csv', encoding='utf-8-sig')
doc_covid.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,1,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-01 21:58:49,43.452658,-116.241552,195,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-01 21:58:49,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">20. doc_covid 에서 중복된 Country_Region 각각에 대해 Confirmed 를 모두 더한 값을 컬럼으로 갖는 데이터프레임을 피봇테이블로 만드세요</font><br>
- 결측치는 0으로 만드세요
</div>

In [68]:
doc_covid2 = doc_covid2.groupby('Country_Region').median()
doc_covid2[['Confirmed']].head()

                Confirmed
Country_Region
Afghanistan           237
Albania               259
Algeria               847
Andorra               390
Angola                  8

In [73]:
doc_covid2 = pd.pivot_table(doc_covid, 
                            index=['Country_Region'], 
                            values=['Confirmed'],
                            aggfunc={'Confirmed': 'median'}, 
                            fill_value=0,
                            margins=True,
                            margins_name='Total'
                           )
#doc_covid2 = doc_covid2.astype({'Confirmed':'int64'})
doc_covid2

                    Confirmed
Country_Region
Afghanistan             237.0
Albania                 259.0
Algeria                 847.0
Andorra                 390.0
Angola                    8.0
...                       ...
Vietnam                 218.0
West Bank and Gaza      134.0
Zambia                   36.0
Zimbabwe                  8.0
Total                     7.0

[181 rows x 1 columns]

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">21. doc_covid 에서 중복된 Country_Region 각각에 대해 Confirmed 를 모두 더한 값을 컬럼으로 갖는 데이터프레임을 피봇테이블로 만들고, 총 값을 'Total' 을 인덱스 값으로 하는 record 로 추가하세요</font><br>
- 결측치는 0으로 만드세요
</div>

In [65]:
doc_covid2 = pd.pivot_table(doc_covid, 
                            index=['Country_Region'], 
                            values=['Confirmed', 'Deaths'],
                            aggfunc={'Confirmed': 'sum', 'Deaths':'mean'}, 
                            fill_value=0,
                            margins=True,
                            margins_name='Total'
                           )
doc_covid2[doc_covid2.index == 'Total']

                Confirmed     Deaths
Country_Region
Total              932605  18.851792